<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comic-Conversor</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Comic conversor between jpg, cbz, pdf, etc. files">
        <meta name="author" content="Javier Martinez Fernandez">

        {% block stylesheets %}{% endblock stylesheets %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="{{ asset("bundles/ecentinelacomiconv/images/favicon.ico") }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset("bundles/ecentinelacomiconv/images/apple-touch-icon-144-precomposed.png") }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset("bundles/ecentinelacomiconv/images/apple-touch-icon-114-precomposed.png") }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset("bundles/ecentinelacomiconv/images/apple-touch-icon-72-precomposed.png") }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset("bundles/ecentinelacomiconv/images/apple-touch-icon-57-precomposed.png") }}">
    </head>

    <body id="body">
        <a href="https://github.com/ecentinela/comiconv" id="github"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="{{ "input.form_me" }}"></a>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path("input") }}">Comic Conversor (Beta)</a>

                    <ul class="nav pull-right">
                        <li>
                            <a href="{{ path("contact") }}">
                                <i class="icon-envelope icon-white"></i>
                                <span>{{ "input.contact" | trans }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <noscript id="requirement-error">
            <h3>{{ "input.enable_javascript" | trans }}</h3>
        </noscript>

        {% block body %}{% endblock body %}

        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
