<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comic-Conversor</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Comic conversor between jpg, cbz, pdf, etc. files">
        <meta name="author" content="Javier Martinez Fernandez">

        {% block stylesheets %}{% endblock stylesheets %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="{{ asset("favicon.ico") }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset("bundles/ecentinelacomiconv/images/apple-touch-icon-144-precomposed.png") }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset("bundles/ecentinelacomiconv/images/apple-touch-icon-114-precomposed.png") }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset("bundles/ecentinelacomiconv/images/apple-touch-icon-72-precomposed.png") }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset("bundles/ecentinelacomiconv/images/apple-touch-icon-57-precomposed.png") }}">

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ google_analytics }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body id="body">
        <a href="https://github.com/ecentinela/comiconv" id="github"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="{{ "input.form_me" }}"></a>

        <noscript id="requirement-error">
            <h3>{{ "input.enable_javascript" | trans }}</h3>
        </noscript>

        {% block body %}{% endblock body %}

        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
