{% extends "EcentinelaComiconvBundle::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets output="about.min.css"
    "@EcentinelaComiconvBundle/Resources/public/css/about.less"
%}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
{% javascripts output="about.min.js"
    "bundles/fosjsrouting/js/router.js"
    "bundles/bazingaexposetranslation/js/translation.js"
    "@EcentinelaComiconvBundle/Resources/public/jquery.js"
    "@EcentinelaComiconvBundle/Resources/public/canjs/can.jquery.js"
    "@EcentinelaComiconvBundle/Resources/public/jquerypp/jquerypp.js"
    "@EcentinelaComiconvBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js"
    "@EcentinelaComiconvBundle/Resources/public/bootstrap/js/*.js"
    "@EcentinelaComiconvBundle/Resources/public/js/about.coffee"
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript" src="{{ path("fos_js_routing_js", {"callback": "fos.Router.setData"}) }}"></script>

<script type="text/javascript" src="{{ url("bazinga_exposetranslation_js") }}"></script>
{% endblock javascripts %}

{% block body %}
<a href="https://github.com/ecentinela/comiconv" id="github"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="{{ "about.form_me" }}"></a>

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path("input") }}">Comic Conversor</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="{{ path("about") }}">{{ "about.about" | trans }}</a></li>

                    <li><a href="{{ path("contact") }}">{{ "about.contact" | trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<noscript id="requirement-error">
    <h3>{{ "about.enable_javascript" | trans }}</h3>
</noscript>

<div class="container well hide">
</div>
{% endblock body %}
