{% extends "EcentinelaComiconvBundle::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets output="contact.min.css"
    "@EcentinelaComiconvBundle/Resources/public/css/contact.less"
%}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
{% javascripts output="contact.min.js"
    "@EcentinelaComiconvBundle/Resources/public/jquery.js"
    "@EcentinelaComiconvBundle/Resources/public/canjs/can.jquery.js"
    "@EcentinelaComiconvBundle/Resources/public/js/contact.coffee"
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock javascripts %}

{% block body %}
<div class="container hide">
    <div class="well span7 offset2">
        <div class="row">
            <div class="span6">
                <div class="message">
                    <div class="popover top">
                        <div class="arrow"></div>
                        <div class="popover-inner">
                            <div class="popover-content">
                                <p>{{ "contact.message" | trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span1">
                <img src="{{ asset("bundles/ecentinelacomiconv/images/gravatar.jpg") }}" alt="gravatar" />
            </div>

            <div class="span6">
                <form action="{{ path("contact") }}" method="post" class="form-horizontal">
                    <div class="control-group">
                        <div class="input-prepend">
                            <div class="add-on">
                                <i class="icon-envelope"></i>
                            </div>
                            <input type="email" class="span5" placeholder="{{ "contact.email" | trans }}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="input-prepend">
                            <div class="add-on">
                                <i class="icon-comment"></i>
                            </div>
                            <textarea class="span5" placeholder="{{ "contact.text" | trans }}"></textarea>
                        </div>
                    </div>

                    <button class="btn btn-primary pull-left" disabled="disabled">{{ "contact.send" | trans }}</button>

                    <div class="alert alert-success fade">
                        <a class="close" href="#">×</a>
                        {{ "contact.thank_you" | trans }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
