<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comic-Conversor</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Comic conversor between jpg, cbz, pdf, etc. files">
        <meta name="author" content="Javier Martinez Fernandez">

        {% stylesheets output="all.css"
            "@EcentinelaComiconvBundle/Resources/public/css/input.less"
        %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    </head>

    <body id="body">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path("input") }}">Comic Conversor</a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="{{ path("about") }}">About</a></li>

                            <li><a href="{{ path("contact") }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <noscript id="requirement-error">
            <h3>You should enable javascript to work with this site.</h3>
        </noscript>

        <div id="requirement-error" class="hide">
            <h3>Your browser doesn't support file uploads.</h3>
        </div>

        <div class="container well hide">

            <h1>Comic conversor online</h1>

            <p><strong>Drop the files</strong> or click <strong>to add files</strong> to convert them to another format.</p>

            <div id="drop-area" class="row">

                <div id="drop" class="span4">
                    <img src="{{ asset("bundles/ecentinelacomiconv/images/drop.png") }}" alt="drop" />

                    <a href="#" id="upload-link">Drag files here or click to add files</a>
                </div>

                <div id="table" class="span5 offset1 fade">
                    <div id="fader"></div>

                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Size</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <i class="icon-move" rel="tooltip" title="Drag to change position"></i>
                                </td>
                                <td>
                                    <i class="icon-trash" rel="tooltip" title="Click to remove this file"></i>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <button class="btn btn-primary pull-right">Upload!</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

            <hr />

            <span class="label label-info">
                <i class="icon-info-sign icon-white"></i>
                You can drag multiple cbz or pdf files to join them in a single file.
            </span>

            <br />

            <span class="label label-warning">
                <i class="icon-info-sign icon-white"></i>
                Max file size upload is {{ maxFileSize }}
            </span>
        </div>

        {% javascripts output="all.js"
            "bundles/fosjsrouting/js/router.js"
            "bundles/bazingaexposetranslation/js/translation.js"
            "@EcentinelaComiconvBundle/Resources/public/jquery.js"
            "@EcentinelaComiconvBundle/Resources/public/canjs/can.jquery.js"
            "@EcentinelaComiconvBundle/Resources/public/jquerypp/jquerypp.js"
            "@EcentinelaComiconvBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js"
            "@EcentinelaComiconvBundle/Resources/public/bootstrap/js/*.js"
            "@EcentinelaComiconvBundle/Resources/public/plupload/js/plupload.full.js"
            "@EcentinelaComiconvBundle/Resources/public/js/input.coffee"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="{{ path("fos_js_routing_js", {"callback": "fos.Router.setData"}) }}"></script>

        <script type="text/javascript" src="{{ url("bazinga_exposetranslation_js") }}"></script>

        <script type="text/javascript">HASH = '{{ hash }}'</script>
    </body>
</html>
