{% extends "EcentinelaComiconvBundle::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets output="output.min.css"
    "@EcentinelaComiconvBundle/Resources/public/css/output.less"
%}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
{% javascripts output="output.min.js"
    "bundles/fosjsrouting/js/router.js"
    "bundles/bazingaexposetranslation/js/translation.js"
    "@EcentinelaComiconvBundle/Resources/public/jquery.js"
    "@EcentinelaComiconvBundle/Resources/public/canjs/can.jquery.js"
    "@EcentinelaComiconvBundle/Resources/public/js/output.coffee"
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript" src="{{ path("fos_js_routing_js", {"callback": "fos.Router.setData"}) }}"></script>

<script type="text/javascript" src="{{ url("bazinga_exposetranslation_js") }}"></script>

<script type="text/javascript">HASH = '{{ conversion.hash }}'</script>
{% endblock javascripts %}

{% block body %}
<div class="container well hide">
    <h1>{{ "output.title" | trans }}</h1>

    <p>{{ "output.description" | trans | raw }}</p>

    <div id="download">
        <a href="{{ path("download", { hash: conversion.hash })}}" class="btn btn-success{% if conversion.status != "converted" %} hide{% endif %}">
            <i class="icon-file icon-white"></i>
            {{ "output.click_to_download" | trans({ "%size%": 100 })}}
        </a>

        <div>
            <p{% if conversion.status == "converted" %} class="hide"{% endif %}>{{ "output.download_link_appear_here" | trans }}</p>
            <small>{{ "output.check" | trans({ "%seconds%": 10 }) | raw }}</small>
        </div>
    </div>

    {% if not conversion.email %}
        <div id="notice">
            <hr />

            <form class="form-inline" method="post" action="{{ path("output", { hash: conversion.hash }) }}">
                <div class="input-prepend">
                    <div class="add-on">
                        <i class="icon-user"></i>
                    </div>
                    <input type="email" class="input-large" placeholder="{{ "output.email" | trans }}" />
                </div>

                <button class="btn btn-primary">{{ "output.send" | trans }}</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock body %}
